body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "channel message";
}

.channels__list {
  grid-area: channel;
  background-color: #ff5722;
}

.messages__list {
  grid-area: message;
  background-color: #b2ebf2;
}

.message {
  background-color: white;
}

.list {
  padding: 10px 15px;
}

.channel {
  padding: 10px 15px;
  padding: 10px 15px;
  border-bottom: solid 2px black;
  background-color: white;
}
